In [1]:
import requests
from geopy.geocoders import Nominatim
from pandas.io.json import json_normalize

In [12]:
CLIENT_ID = 'P2X2VEDCLZQPBJVLBKFLTJIOJIMQENGZHXXCOLDAAAP1ATVA' 
CLIENT_SECRET = 'BKOROERBQIVIEJ2V0KKZRORBGBD5GZRSEDLCQTJJWSMIRAZU' 
VERSION = '20180604'
LIMIT = 30

address = 'saudia arabia, riyadh'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
coords = (latitude, longitude)
print(coords)
search_query = 'apartment'
radius = 2000
LIMIT = 10

(24.638916, 46.7160104)

In [13]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
url

'https://api.foursquare.com/v2/venues/search?client_id=P2X2VEDCLZQPBJVLBKFLTJIOJIMQENGZHXXCOLDAAAP1ATVA&client_secret=BKOROERBQIVIEJ2V0KKZRORBGBD5GZRSEDLCQTJJWSMIRAZU&ll=24.638916,46.7160104&v=20180604&query=apartment&radius=2000&limit=10'

In [14]:
results

{'meta': {'code': 200, 'requestId': '603ad08bfea1e97dce9bd74b'},
 'response': {'venues': [{'id': '54b1815c498e341bc729b4b7',
    'name': 'My apartment ðŸ˜Œ',
    'location': {'lat': 24.637373,
     'lng': 46.712853,
     'labeledLatLngs': [{'label': 'display',
       'lat': 24.637373,
       'lng': 46.712853}],
     'distance': 362,
     'cc': 'SA',
     'country': 'Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©',
     'formattedAddress': ['Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©']},
    'categories': [{'id': '4d954b06a243a5684965b473',
      'name': 'Residential Building (Apartment / Condo)',
      'pluralName': 'Residential Buildings (Apartments / Condos)',
      'shortName': 'Residential',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/apartment_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1614467211',
    'hasPerk': False},
   {'id': '564b7369498e07de7c311b04',
    'name': '503 apartment',
    'location': {'lat': 24.635041,
     'lng': 46.717047,
     'labeledLatLngs': [{'label': 'display',
       'lat': 24.635041,
       'lng': 46.717047}],
     'distance': 443,
     'cc': 'SA',
     'country': 'Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©',
     'formattedAddress': ['Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©']},
    'categories': [{'id': '4d954b06a243a5684965b473',
      'name': 'Residential Building (Apartment / Condo)',
      'pluralName': 'Residential Buildings (Apartments / Condos)',
      'shortName': 'Residential',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/building/apartment_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1614467211',
    'hasPerk': False}]}}

In [15]:
venues = results['response']['venues']
df = json_normalize(venues)
df

<ipython-input-15-f833726f904b>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(venues)

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.country,location.formattedAddress
0,54b1815c498e341bc729b4b7,My apartment ðŸ˜Œ,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1614467211,False,24.637373,46.712853,"[{'label': 'display', 'lat': 24.637373, 'lng':...",362,SA,Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©,[Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©]
1,564b7369498e07de7c311b04,503 apartment,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1614467211,False,24.635041,46.717047,"[{'label': 'display', 'lat': 24.635041, 'lng':...",443,SA,Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©,[Ø§Ù„Ù…Ù…Ù„ÙƒØ© Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ©]

In [16]:
print(df.columns.tolist())
df = df.drop(["id", "categories","location.country","referralId", "hasPerk",'location.labeledLatLngs', 'location.cc','location.formattedAddress' ], axis = 1)
df = df.rename(columns = {"name":"Residents",
                          "location.lat":"latitude", 
                          'location.lng':"longitude",
                          'location.distance':"distance",
                          'location.address':"address", 
                          "location.city":"city",
                          'location.crossStreet':"street name", 
                         })
new_distance = []
df["distance"] = df["distance"].astype(str)
df["distance"] = df["distance"].tolist()
df

['id', 'name', 'categories', 'referralId', 'hasPerk', 'location.lat', 'location.lng', 'location.labeledLatLngs', 'location.distance', 'location.cc', 'location.country', 'location.formattedAddress']

        Residents   latitude  longitude distance
0  My apartment ðŸ˜Œ  24.637373  46.712853      362
1   503 apartment  24.635041  46.717047      443

In [118]:
x_xis = df['latitude'].tolist()
y_xis = df['longitude'].tolist()

In [119]:
filename = 'address.py'

f = open(filename, 'w')

coords = x_xis, y_xis


f.write('ad_latitude = {} '.format(x_xis) + "\n")
f.write('ad_longitude = {}'.format(y_xis))

26