# Coursera IBM capstone project -  The Battle of Neighborhoods

<p> project title: </p>

<h2>Finding a proper location for opening a new business in the fututre that is suitable during the ‘covid - 19’ pandemic in london, United Kingdom (U.K) using Data science and analytical tools</h2>

<p> Author: Raihan Insan Habibi</p>

<b>1. Introduction / business problems</b>

In the middle of march, the UK was struck by a deadly virus called the coronavirus also known by its scientific name 'covid-19'. and the rate of the virus kept increasing dramatically till February 1, 2021, and till that day the rate of the corona virus started to decrease gradually. Right now, social distancing has changed various methods for many companies. With time, things are gently progressing back to normal, people who want to open up a business in the future will have to have to find a suitable location that will be effective for the industry business, even during the 'covid-19' pandemic. Finding a location that is habitable requires various factors that data scientists need to consider and process, as well as all of the access to data information around the neighbourhood. In this report, I will be describing a simple analysis of data from the whole city of london, United Kingdom (U.K) to find a suitable location to open up a new business.

<b>2. Data</b>

(all data resources will be here)

In [104]:
#!pip install geopy
#!pip install folium
#!pip install bs4

Requirement already satisfied: bs4 in c:\users\mathl\anaconda3\lib\site-packages (0.0.1)

WARNING: You are using pip version 20.3.3; however, version 21.0.1 is available.
You should consider upgrading via the 'c:\users\mathl\anaconda3\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: beautifulsoup4 in c:\users\mathl\anaconda3\lib\site-packages (from bs4) (4.9.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\mathl\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)

In [2]:
import numpy as np
import pandas as pd
import requests
from geopy.geocoders import Nominatim
import folium
from pandas.io.json import json_normalize
import bs4
from urllib.request import urlopen as uReq
from bs4 import BeautifulSoup as Soup
print("libaries imported")

libaries imported

In [6]:
CLIENT_ID = 'PT4SWYOA3Q4IJPMPYFKE4MYTKG3YBFPBHPUB01C5MVC0BCHE' 
CLIENT_SECRET = 'ZYIMZWRM5PDVXZGFOJXKRZ2H423NPVFUWLBQXHDYMJSMDGEL' 
VERSION = '20180604'
LIMIT = 30

address = 'London, Greater London, United Kingdom'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
coords = (latitude, longitude)
print(coords)
search_query = 'apartment'
radius = 2000
LIMIT = 50

(51.5073219, -0.1276474)

In [7]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()
url

'https://api.foursquare.com/v2/venues/search?client_id=PT4SWYOA3Q4IJPMPYFKE4MYTKG3YBFPBHPUB01C5MVC0BCHE&client_secret=ZYIMZWRM5PDVXZGFOJXKRZ2H423NPVFUWLBQXHDYMJSMDGEL&ll=51.5073219,-0.1276474&v=20180604&query=apartment&radius=2000&limit=50'

In [22]:
venues = results['response']['venues']
df = json_normalize(venues)
df.head()

<ipython-input-22-8c85c09aef9d>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(venues)

,id,name,categories,referralId,hasPerk,location.address,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.city,location.state,location.country,location.formattedAddress,location.postalCode,location.neighborhood,location.crossStreet
0,50947166e4b08e0dbd9ca247,Jubilee Apartment,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1614554904,False,Whitcomb Street 31A,51.509514,-0.130453,"[{'label': 'display', 'lat': 51.509514, 'lng':...",311,GB,London,Greater London,United Kingdom,"[Whitcomb Street 31A, London, Greater London, ...",NaN,NaN,NaN
1,56c5e9f9cd10b1e9cd98e4a3,The Apartment,"[{'id': '52e81612bcbc57f1066b7a35', 'name': 'C...",v-1614554904,False,"Hopkins St, London",51.513149,-0.134861,"[{'label': 'display', 'lat': 51.51314944595856...",818,GB,London,Greater London,United Kingdom,"[Hopkins St, London, London, Greater London, W...",W1F 0HS,NaN,NaN
2,5113bd0ce4b04c9a25ee39a7,Apartment 58,"[{'id': '4bf58dd8d48988d11a941735', 'name': 'O...",v-1614554904,False,101 New Oxford St,51.516415,-0.129210,"[{'label': 'display', 'lat': 51.51641473053954...",1017,GB,London,Greater London,United Kingdom,"[101 New Oxford St, London, Greater London, WC...",WC1A 1DB,NaN,NaN
3,4bec65c6976ac928f4f2600b,The Apartment,"[{'id': '4bf58dd8d48988d11e941735', 'name': 'C...",v-1614554904,False,199-206 High Holborn,51.517115,-0.121987,"[{'label': 'display', 'lat': 51.51711536990883...",1158,GB,London,Greater London,United Kingdom,"[199-206 High Holborn, London, Greater London,...",WC2B 5EG,Bloomsbury,NaN
4,540f08bb498eb03105e62e3d,Thomas apartment,"[{'id': '4d954b06a243a5684965b473', 'name': 'R...",v-1614554904,False,Coptict Street 5,51.517576,-0.126521,"[{'label': 'display', 'lat': 51.517576, 'lng':...",1144,GB,NaN,NaN,United Kingdom,"[Coptict Street 5, United Kingdom]",NaN,NaN,NaN

In [23]:
print(df.columns.tolist())
df = df.drop(["id", "categories","location.country","referralId", "hasPerk",'location.labeledLatLngs', 'location.cc','location.formattedAddress' ], axis = 1)
df = df.rename(columns = {"name":"Residents",
                          "location.lat":"latitude", 
                          'location.lng':"longitude",
                          'location.distance':"distance",
                          'location.address':"address", 
                          "location.city":"city",
                          'location.crossStreet':"street name",
                           'location.postalCode':"postcode",
                          'location.neighborhood':"neighborhood"
                         })
new_distance = []
df["distance"] = df["distance"].astype(str)
df["distance"] = df["distance"].tolist()
df.head()

['id', 'name', 'categories', 'referralId', 'hasPerk', 'location.address', 'location.lat', 'location.lng', 'location.labeledLatLngs', 'location.distance', 'location.cc', 'location.city', 'location.state', 'location.country', 'location.formattedAddress', 'location.postalCode', 'location.neighborhood', 'location.crossStreet']

,Residents,address,latitude,longitude,distance,city,location.state,postcode,neighborhood,street name
0,Jubilee Apartment,Whitcomb Street 31A,51.509514,-0.130453,311,London,Greater London,NaN,NaN,NaN
1,The Apartment,"Hopkins St, London",51.513149,-0.134861,818,London,Greater London,W1F 0HS,NaN,NaN
2,Apartment 58,101 New Oxford St,51.516415,-0.129210,1017,London,Greater London,WC1A 1DB,NaN,NaN
3,The Apartment,199-206 High Holborn,51.517115,-0.121987,1158,London,Greater London,WC2B 5EG,Bloomsbury,NaN
4,Thomas apartment,Coptict Street 5,51.517576,-0.126521,1144,NaN,NaN,NaN,NaN,NaN

In [11]:
my_url = "https://www.google.com/maps/search/saudi+arabia,+riyadh,+residents/@24.7984497,46.6521377,10z"
uClient = uReq(my_url)
page_html = uClient.read()
uClient.close()
page_soup = Soup(page_html, "html.parser")

In [29]:
london_map = folium.Map(coords)

In [30]:
london_map