# Coursera IBM capstone project -  The Battle of Neighborhoods

<p> project title: </p>

<h2>Finding a perfect location for opening a new restaurant that is suitable during the ‘covid - 19’ pandemic in Riyadh, Saudi Arabia using Data science and analytical tools</h2>

<p> Author: Raihan Insan Habibi</p>

<b>1. Introduction / business problems</b>

On 4th May 2020, Saudi Arabia was struck by a deadly virus called the coronavirus also known by its scientific name 'covid-19'. and on the 9th of September 2020, the recovery rate in Saudi Arabia has increased dramatically because of the new-normal systems. social distancing has changed many methods for many businesses, especially for restaurants. Since things are slowly going back to normal, finding a perfect location to open up a new restaurant would be a good idea. Finding a perfect location requires various factors that data scientists need to consider and process, as well as all of the access of data information around the neighbourhood. In this report, I will be describing a simple analysis of data from Riyadh, Saudi Arabia city neighbourhood to find a a decent location to open up a new restaurant.

<b>2. Data</b>

(all data resources will be here)

In [89]:
import numpy as np
import pandas as pd
import requests
#!pip install geopy
from geopy.geocoders import Nominatim
#!pip install folium
import folium
print("libaries imported")
from pandas.io.json import json_normalize

libaries imported

In [90]:
CLIENT_ID = 'P2X2VEDCLZQPBJVLBKFLTJIOJIMQENGZHXXCOLDAAAP1ATVA' 
CLIENT_SECRET = 'TX5XWBRYCABQ0DNWW110SNY12PZE242WYLDFKXFKREV3R3KX' 
VERSION = '20180604'
LIMIT = 30

address = '11564, Saudi Arabia, Riyadh'

geolocator = Nominatim(user_agent="foursquare_agent")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
coords = (latitude, longitude)
print(coords)
Riyadh_map = folium.Map(coords)
search_query = 'restaurant'
radius = 2000
LIMIT = 100

(24.6161141, 46.7056208)

In [91]:
url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, search_query, radius, LIMIT)
results = requests.get(url).json()

In [92]:
venues = results['response']['venues']
df = json_normalize(venues)
df.head()

<ipython-input-92-8c85c09aef9d>:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead
  df = json_normalize(venues)

,id,name,categories,referralId,hasPerk,location.lat,location.lng,location.labeledLatLngs,location.distance,location.cc,location.country,location.formattedAddress,location.address,location.city,location.state,location.crossStreet,location.postalCode
0,5244c1fc11d22a457711e2da,Forouj Al carawan Restaurant,"[{'id': '4f04af1f2fb6e1c99f3db0bb', 'name': 'T...",v-1614211962,False,24.603433,46.693419,"[{'label': 'display', 'lat': 24.60343279032182...",1875,SA,المملكة العربية السعودية,[المملكة العربية السعودية],NaN,NaN,NaN,NaN,NaN
1,5229b01111d27c467fc7f6d7,Redan Restaurant,"[{'id': '4bf58dd8d48988d115941735', 'name': 'M...",v-1614211962,False,24.637627,46.701290,"[{'label': 'display', 'lat': 24.63762676804035...",2434,SA,المملكة العربية السعودية,[المملكة العربية السعودية],NaN,NaN,NaN,NaN,NaN
2,56556136498e006b1b195e46,Alshera3 Restaurant (مطاعم الشراع),"[{'id': '4bf58dd8d48988d1c5941735', 'name': 'S...",v-1614211962,False,24.601332,46.697614,"[{'label': 'display', 'lat': 24.60133236677082...",1834,SA,المملكة العربية السعودية,"[شارع السويدي العام, الرياض, المملكة العربية ا...",شارع السويدي العام,الرياض,منطقة الرياض‎,NaN,NaN
3,55f2d0c9498ecdec7378c2bd,Tekkady Restaurant (مطعم تيكادي),"[{'id': '54135bf5e4b08f3d2429dfdf', 'name': 'I...",v-1614211962,False,24.638121,46.702265,"[{'label': 'display', 'lat': 24.638121, 'lng':...",2473,SA,المملكة العربية السعودية,"[King Fahd Rd, الرياض, المملكة العربية السعودية]",King Fahd Rd,الرياض,منطقة الرياض‎,NaN,NaN
4,4b75b85ef964a5209e1f2ee3,Indian Summer Restaurant مطعم الصيف الهندي,"[{'id': '4bf58dd8d48988d10f941735', 'name': 'I...",v-1614211962,False,24.616782,46.718141,"[{'label': 'display', 'lat': 24.61678238905847...",1269,SA,المملكة العربية السعودية,"[3aeshah bent abi baker, المملكة العربية السعو...",3aeshah bent abi baker,NaN,NaN,NaN,NaN

In [95]:
#cleaning data
print(df.columns.tolist())
df = df.drop(["id", "categories", "referralId", "hasPerk",'location.labeledLatLngs', 'location.cc','location.formattedAddress' ], axis = 1)
df = df.rename(columns = {"name":"Rstaurant",
                          "location.lat":"latitude", 
                          'location.lng':"longitude",
                          'location.distance':"distance",
                          "location.country":"country",
                          'location.address':"address", 
                          "location.city":"city",
                          "location.state":"state", 
                          'location.crossStreet':"street name", 
                          'location.postalCode': "postal code"
                         })

['id', 'name', 'categories', 'referralId', 'hasPerk', 'location.lat', 'location.lng', 'location.labeledLatLngs', 'location.distance', 'location.cc', 'location.country', 'location.formattedAddress', 'location.address', 'location.city', 'location.state', 'location.crossStreet', 'location.postalCode']

In [98]:
df

,Rstaurant,latitude,longitude,distance,country,address,city,state,street name,postal code
0,Forouj Al carawan Restaurant,24.603433,46.693419,1875,المملكة العربية السعودية,NaN,NaN,NaN,NaN,NaN
1,Redan Restaurant,24.637627,46.701290,2434,المملكة العربية السعودية,NaN,NaN,NaN,NaN,NaN
2,Alshera3 Restaurant (مطاعم الشراع),24.601332,46.697614,1834,المملكة العربية السعودية,شارع السويدي العام,الرياض,منطقة الرياض‎,NaN,NaN
3,Tekkady Restaurant (مطعم تيكادي),24.638121,46.702265,2473,المملكة العربية السعودية,King Fahd Rd,الرياض,منطقة الرياض‎,NaN,NaN
4,Indian Summer Restaurant مطعم الصيف الهندي,24.616782,46.718141,1269,المملكة العربية السعودية,3aeshah bent abi baker,NaN,NaN,NaN,NaN
5,Suha's Multi Cuisine Restaurant,24.608172,46.710604,1017,المملكة العربية السعودية,NaN,NaN,NaN,NaN,NaN
6,Peshawari Restaurant,24.624977,46.697323,1295,المملكة العربية السعودية,"7359 Al Umraniyah, Ash Shimaisi, Riyadh 12745 ...",الرياض,منطقة الرياض‎,Al Jandal Street,11321
7,Said Turkish Restaurant مطعم سعيد التركي,24.625771,46.694054,1589,المملكة العربية السعودية,Assir st. شارع عسير,الرياض,منطقة الرياض‎,Madinah Rd طريق المدينة Ojaila Street,27379
8,Farid Restaurant,24.626908,46.696270,1529,المملكة العربية السعودية,NaN,NaN,NaN,NaN,NaN
9,AlDafwa Restaurant,24.629652,46.709054,1546,المملكة العربية السعودية,Malaz Area,الرياض,منطقة الرياض‎,Al Ahsa St.,NaN
10,Kashmir Restaurant Batha,24.608396,46.718387,1551,المملكة العربية السعودية,NaN,NaN,NaN,NaN,NaN
11,Said Turkish Restaurant مطعم سعيد التركي,24.625782,46.694134,1584,المملكة العربية السعودية,Assir St,الرياض,منطقة الرياض‎,Ojaila Street,NaN
12,Al Sheraa Restaurant (مطاعم الشراع),24.600993,46.699215,1803,المملكة العربية السعودية,As Suwaidy Al Aam St,الرياض,منطقة الرياض‎,NaN,12791
13,Gad (جاد),24.637952,46.706148,2431,المملكة العربية السعودية,Fouta District,الرياض,منطقة الرياض‎,Khazzan St.,NaN
14,Rosai Restaurant,24.634623,46.716565,2339,المملكة العربية السعودية,NaN,NaN,NaN,NaN,NaN
15,Deccan Darbar Restaurant (مطعم سنة),24.618644,46.726496,2131,المملكة العربية السعودية,Ghubaira,الرياض,منطقة الرياض‎,NaN,NaN